// calculator
.calculator {
  @include flexbox(column);
  background-color: $calculator-color;
  border: 0.8rem solid $calculator-color;
  border-style: outset;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  color: $text-color;
  justify-content: space-evenly;
  max-width: 80vw;
  padding: $m-size;
  width: 30rem;
}
