// sizes
$m-size: 2rem;
$l-size: 4.5rem;

// colours
$background-color: #e8fccf;
$calculator-color: #a3a3a3;
$button-color: #ffffff;
$button-border: #808080;
$display-color: #ffffff;
$text-color: #134611;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');
