@import './settings';
@import './mixins';
@import './displays';
@import './buttons';
@import './calculator';

// general style/base
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background-color: $background-color;
}

#root {
  @include flexbox(row);
  height: 100%;
  width: 100%;
}
