// Variables
$m-size: 2rem;
$l-size: 4.5rem;
$background-color: #e8fccf;
$calculator-color: #a3a3a3;
$button-color: #f6feec;
$display-color: #ffffff;
$text-color: #134611;

// Mixins
@mixin flexbox($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin border($color) {
  border: 1px solid $color;
}

// general style
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background-color: $background-color;
}

#root {
  @include flexbox(row);
  height: 100%;
  width: 100%;
}

// calculator
.calculator {
  @include flexbox(column);
  justify-content: space-evenly;
  border-radius: 8px;
  padding: $m-size;
  background-color: $calculator-color;
  color: $text-color;
  width: 30rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.displays {
  width: 100%;
}

.display {
  background-color: $display-color;
  width: 100%;
  min-height: 6rem;
  padding: $m-size;
  font-size: 2.4rem;
  border-style: inset;
}

// buttons
.button {
  font-size: $m-size;
  background-color: $button-color;
  border: 0.5px solid $text-color;
  height: 5rem;
  width: 5rem;
}

.buttonContainer {
  @include flexbox(row);
  height: 50%;
  margin: $m-size 0 0;
  width: 100%;
}

.clearAndDigits {
  @include flexbox(column);
  width: 75%;

  #clear {
    width: 100%;
    flex-grow: 1;
  }
}

.digits {
  @include flexbox(row);
  flex-wrap: wrap;
  width: 100%;

  .digit {
    width: 33%;
    flex-grow: 1;
  }

  #zero {
    width: 66%;
  }
}

.operators {
  @include flexbox(row);
  flex-wrap: wrap;
  width: 5rem;
  height: 100%;

  .button {
    width: 5rem;
  }

  #equals {
    width: 5rem;
  }
}
