// Variables
$med-size: 2rem;
$background-color: #e8fccf;
$calculator-color: #a3a3a3;
$button-color: #f6feec;
$display-color: #f6feec;
$text-color: #134611;

// Mixins
@mixin flexbox($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin border($color) {
  border: 1px solid $color;
}

// general style
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: $background-color;
}

#root {
  @include flexbox(row);
  height: 100%;
  width: 100%;
}

.app {
  @include flexbox(row);
}

// calculator
.calculator {
  @include flexbox(column);
  justify-content: space-evenly;
  border-radius: 8px;
  padding: $med-size;
  background-color: $calculator-color;
  color: $text-color;
  max-width: 90%;
  height: 50rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.displays {
  width: 100%;
}

.display {
  background-color: $display-color;
  width: 100%;
  min-height: 6rem;
  padding: $med-size;
  font-size: 2.4rem;
  border-style: inset;
}

// buttons
.clearAndEqual {
  @include flexbox(row);
  width: 100%;

  #clear {
    flex-grow: 2;
    height: 5rem;
  }

  #equals {
    width: 5rem;
    height: 5rem;
  }
}

.buttonContainer {
  @include flexbox(row);
  flex-wrap: wrap;
  height: 50%;
}

.digits {
  @include flexbox(row);
  flex-wrap: wrap;
  flex: 1;
  height: 100%;

  .button {
    width: 33%;
    height: 25%;
    flex-grow: 1;
  }

  #zero {
    width: 66%;
  }
}

.operators {
  @include flexbox(row);
  flex-wrap: wrap;
  width: 5rem;
  height: 100%;

  .button {
    width: 5rem;
    height: 25%;
  }
}

.button {
  font-size: $med-size;
  background-color: $button-color;
  border: 0.5px solid $text-color;
}
